# .envrc
# This file is used to load environment variables from a .env file
# into the shell. It is used by direnv to load the environment variables
# when you enter the directory.
set -o allexport
source .env
set +o allexport
